.root
{
    -fx-background-color: #2D3142;
    -fx-font-family: Calibri;
    -fx-text-fill: #FFFFFF;
}

.button
{
    -fx-background-color: 000E34;
    -fx-text-fill: white;
}

.label
{
    -fx-text-fill: #FFFFFF;
}

.text
{
    -fx-text-fill: #FFFFFF;
}

