.root
{
    -fx-background-color: #ECD444;
    -fx-font-family: Calibri;
    -fx-text-fill: #1C1C1C;
}

.button
{
    -fx-background-color: #6E2594;
    -fx-text-fill: #FFE4F3;
}

.label
{
    -fx-text-fill: #1C1C1C;
}

.text
{
    -fx-text-fill: #1C1C1C;
}

