.root
{
    -fx-background-color: #CFCBCA;
    -fx-font-family: Calibri;
    -fx-text-fill: #EFF1F3;
}

.button
{
    -fx-background-color: #6E2594;
    -fx-text-fill: #FFE4F3;
}

.label
{
    -fx-text-fill: #EFF1F3;
}

.text
{
    -fx-text-fill: #032B43;
}

.text-field
{
    -fx-text-fill: #EFF1F3;
    -fx-background-color: #3C1518;
}
